* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.alert{
  display: none;
  position: absolute;
  top: 3%;
  left: 42%;
  min-width: 150px;
  max-width: 90%;
  width: auto;
  height: auto;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-transform: capitalize;
  background: black;
  transition: 1s;
  z-index: 1;
}

body {
  display: block;
  min-height: 100vh;
  background: url(Assets/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1{
  text-align: left;
  color: #fff;
  font-size: 50px;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 10px;
}

.header hr{
  padding: .5px;
  background: rgba(255, 255, 255, .2);
  border: none;
  filter: blur(1px);
}

.wrapper {
  margin: 5% auto;
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  z-index: 1; 
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 10px 45px 10px 20px; 
  appearance: none; 
  z-index: 1; 
}


.input-box select:focus {
  border: 2px solid rgba(255, 255, 255, .2); 
  outline: none; 
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  pointer-events: none; 
}

.input-box option{
  color: black;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  color: skyblue;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #1db954;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: .5s;
}
.wrapper .btn:hover{
  color: #1db954;
  background-color: black;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  color: skyblue;
}

.footer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  width: 100%; 
  color: #fff; 
  margin-top: 4%;
}

#google_translate_element {
  padding: 10px;
}



